.app-logo, .new-account-container {
  text-align: center;
  height: 15vh;
  padding: 25px;
  border: solid;
  margin: 10px;
}

.log-in-container, .register-container {
  height: 60vh;
  padding: 25px;
  border: solid;
  margin: 10px;
}

.log-in-button-container, .register-button-container {
  border: solid;
  display: flex;
  justify-content: center;
}

.form-container {
  border: solid;
  padding: 10px;
}

.user-input-container {
}
